<template>
  <div>
    <vue-nestable v-model="$store.state.taskList" @change="dragTasks"> <!-- TODO: make as getter -->
      <vue-nestable-handle
          slot-scope="{ item }"
          :item="item"
          :key="item.id">
        <slot name="default">

          {{ item.text }}
          <input type="text" :value="item.title" @change.lazy="updateTask(item.id, {title: $event.target.value})"/>
          <button @click="deleteTask(item.id)">X</button>
        </slot>
      </vue-nestable-handle>
    </vue-nestable>
    <button @click="addTask">Add a new task</button>
  </div>
</template>

<script>
  import Vue from 'vue'
  import { mapGetters } from 'vuex'
  import VueNestable from 'vue-nestable'
  import cloneDeep from 'lodash.clonedeep'

  Vue.use(VueNestable)

  export default {
    created() {
      this.$store.dispatch('initialLoad')
    },
    methods: {
      log(...item) {
        console.log(item)
      },
      deleteTask(id) {
        this.$store.dispatch('deleteTask', id)
      },
      addTask() {
        this.$store.dispatch('addTask')
      },
      updateTask(id, changesObj) {
        this.$store.dispatch('updateTask', {id, changesObj})
      },
      dragTasks(...changesObj) {
        this.$store.dispatch('dragTask', changesObj[1].items)
      }
    },
    // data: {    },
    // computed: {
    //   taskList:{
    //     get(){
    //       return this.$store.state.taskList
    //     },
    //     set(data){
    //       this.data.taskList = data
    //       console.log(this.data)
    //     }
    //   }
    // }
  }
</script>

<style>


  /*
  * Header
  */
  body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f3f3f4;
  }


  /*
  * Content and components
  */

  .nestable-list-empty {
    text-align: center;
  }

  /*
* Style for nestable
*/
  .nestable {
    position: relative;
  }

  .nestable .nestable-list {
    margin: 0;
    padding: 0 0 0 40px;
    list-style-type: none;
  }

  .nestable > .nestable-list {
    padding: 0;
  }

  .nestable-item,
  .nestable-item-copy {
    margin: 10px 0 0;
  }

  .nestable-item:first-child,
  .nestable-item-copy:first-child {
    margin-top: 0;
  }

  .nestable-item .nestable-list,
  .nestable-item-copy .nestable-list {
    margin-top: 10px;
  }

  .nestable-item {
    position: relative;
  }

  .nestable-item.is-dragging .nestable-list {
    pointer-events: none;
  }

  .nestable-item.is-dragging * {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .nestable-item.is-dragging:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(106, 127, 233, 0.274);
    border: 1px dashed rgb(73, 100, 241);
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .nestable-drag-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
  }

  .nestable-drag-layer > .nestable-list {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    background-color: rgba(106, 127, 233, 0.274);
  }

  .nestable [draggable="true"] {
    cursor: move;
  }

  .nestable-handle {
    display: inline;
  }
</style>
