<template>
  <div>
    <ProjectList></ProjectList>
    <TaskList></TaskList>
  </div>
</template>

<script>
  import ProjectList from '@/components/ProjectList'
  import TaskList from '@/components/TaskList'


  export default {
    components: {
      ProjectList,
      TaskList,
    }
  }
</script>
